.create-entity {
  /* width: 100vw; */
  /* height: 100vh; */
  box-sizing: border-box;
  display: flex;
}

.entity-loader {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.widgetDemo {
  width: auto;
  /* height: 100vh; */
  padding: 40px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.widgetDemoSection {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.widgetDemoButtonHeaderLabel {
  width: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #12344d;
}

.widgetDemoButtonHelpLabel {
  width: auto;
  font-style: normal;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #12344d;
}

.fdwidgets {
  width: calc(16px + 320px + 16px);
  /* height: 100vh; */
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.widgets {
  width: calc(16px + 320px + 16px);
  /* height: 100vh; */
  padding: 16px;
  margin-left: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  top: 0;
  right: 352px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.widgetAccordion {
  width: 320px;
  height: auto;
  box-sizing: border-box;
  --fw-accordion-body-background-color: #ffffff;
  --fw-accordion-title-background-color: #f5f7f9;
}

.widgetAccordionTitle {
  width: auto;
  display: flex;
  height: 100%;
  align-items: center;
}

.widgetAccordionTitleIconContainer {
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebeef0;
  border-radius: 4px;
}

.widgetAccordionTitleLabel {
  width: auto;
  margin-left: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #12344d;
}
